@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.screenContainer{
    color: gray;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    overflow: hidden;
    place-items: center;
} 
.contenedor{
    border: 1px solid white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.link{
    font-size: 11px;
    place-self: center;
    border-radius: 2px;
    width: 50%;
    text-align: center;
    color : white;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    background-color: gray;
}

.icono{
    font-size: 10px;
}

